* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


/*all titles*/

.game-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.titles {
    margin-bottom: 10px;
    text-align: center;
    font-size: 3rem;
    font-family: 'Allerta Stencil', sans-serif;
}


/*first container-buttons*/

.button-container {
    list-style: none;
    grid-column: 1 /span 1;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


/*Buttons*/

.game-button {
    height: 80px;
    width: 80%;
    font-size: 1.3rem;
    margin: 5px;
    font-family: 'Allerta Stencil', sans-serif;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    background-color: #BA674E;
    color: white;
}

.game-button:hover {
    background-color: #5D8AA6;
    color: white;
}


/*Second container-canvas*/

.canvas-game {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


/*Third container-score*/

.game-statistics {
    grid-column: 3 /span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    .game-container {
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-columns: 1fr;
        margin-top: 0;
    }
    .button-container {
        grid-row: 1 /span 1;
        grid-column: 1 /span 1;
        margin: auto;
    }
    .canvas-game {
        grid-row: 2 /span 1;
        grid-column: 1 /span 1;
        margin-top: 0px;
    }
    .game-statistics {
        grid-row: 3 /span 1;
        grid-column: 1 /span 1;
        margin-top: 0;
    }
    .game-button {
        height: 30px;
    }
}